
.main {
  background-color: #f6f8fa;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 15px;
  display: flex;
  gap: 15px;
}

.side {
  background-color: #3025a7;
  width: 20%;
  height: 100%;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
}

.title__side {
  font-weight: bold;
  font-size: 28px;
  color: white;
  text-align: center;
  margin: 40px 0;
}

.side > ul {
  width: 70%;
  height: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  margin: 0 0 0 80px;
  color: white;
  font-weight: 300;
  display: block;

  & > li > * {
    list-style: none;
    cursor: pointer;
    padding: 10px;
    display: block;
  }
}

li a.active {
  background-color: #fdfdfd;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #3025a7;
}

.principal {
  width: 80%;
  height: 100%;
  padding: 15px;
  border-radius: 40px;
}

.top {
  width: 100%;
  height: 20%;
  display: flex;
  gap: 15px;
}

.favorite {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  padding: 5px;
  align-items: center;
}

.favorite > section{
  
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-left: 5px;
}

.favorite p{
  font-size: 14px;
  color: #717171;

}

.favorite i{
  font-size: 12px;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  text-align: center;
}

.favorite i:nth-child(2){
  background-color: #409675;
}

.favorite i:nth-child(3){
  background-color: #5710a8;
}

.favorite i:nth-child(4){
  background-color: #d92753;
}

.favorite-selected {
  background-color: #3025a7;
}

.favorite .favorite_total p{
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.favorite .favorite_total span{
  font-size: 22px;
  color: #04a514;
}

.favorite .favorite_fecha{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.favorite_fecha button{
  background-color: #006aff;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;

}

p.fecha_number{
  font-size: 16px;
  color: #454545;
  font-weight: bold;
}

#selected p{
  color: white;

}

p.finalizado{
  font-size: 32px;
  font-weight: bold;
}

.modal_container{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.modal_gasto{
  display: flex;
  justify-content: space-between;
}

.modal_gasto section{
  display: flex;
  gap: 4px;
}



.center {
  width: 100%;
  height: 80%;
  padding: 20px 0;
  display: flex;
  gap: 20px;
}

.feeds {
  width: 73%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list {
  width: 27%;
  height: 100%;
  border-radius: 20px;
}

.feeds > div {
  height: 50%;
  width: 100%;
  border-radius: 20px;
}

div {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


.logout_container{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
  padding: 20px 0;
  gap: 10px;
}